[Unit]
Description=Exporta SSH_AUTH_SOCK do agente SSH do Bitwarden para a sessão systemd
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemctl --user set-environment SSH_AUTH_SOCK=%h/.bitwarden-ssh-agent.sock
ExecStop=/usr/bin/systemctl --user unset-environment SSH_AUTH_SOCK
