{
    "allowed_extensions": [
        "keepassxc-browser@keepassxc.org"
    ],
    "description": "KeePassXC integration with native messaging support",
    "name": "org.keepassxc.keepassxc_browser",
    "path": "{{ keepassxc_firefox_relay_sandbox_path }}",
    "type": "stdio"
}
