<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
  <dir>{{ texlive_texdir }}/texmf-dist/fonts/opentype</dir>
  <dir>{{ texlive_texdir }}/texmf-dist/fonts/truetype</dir>
  <dir>{{ texlive_texdir }}/texmf-dist/fonts/type1</dir>
</fontconfig>
